body {
	padding-top: 50px;
}

.inner {
	vertical-align: middle;
}

/**
 * Main Navigation
 */
header#masthead .navbar {
	background: #00a99d;
	border: none;
	border-radius: 0;

}

header#masthead .navbar a {
	color: #fff;
}

header#masthead li.active a {
	color: #00a99d;
	background: #fff;
}

header#masthead .navbar-default .navbar-nav > .open > a {
	background: #fff;
	color: #00a99d;
}

header#masthead ul.dropdown-menu li a {
	color: #555;
}

/**
 * Welcome
 */
#welcome {
	padding-top: 42px;
	padding-bottom: 42px;
	height: 320px;
	background-image: url(images/back-head.jpg);
	background-repeat: no-repeat;
	color: #fff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;

	font-size: 18px;
}

#welcome h1 {
	font-size: 62px;
}

/**
 * COntent
 */
#content {
	padding-top: 32px;
	padding-bottom: 32px;
}

/**
 * Product Item 
 */
#product-filter select {
	margin-bottom: 32px;
}

.product-item {
	height: 230px;
	background: #00a99d;
	margin-bottom: 30px;
}


/**
 * Breadcrumb
 */
#breadcrumb {
	padding-top: 42px;

}




/**
 * Footer
 */
footer#colophon {
	padding-top: 32px;
	padding-bottom: 32px;
	background: #362f2d;

	color: #fff;
}

footer#colophon a {
	color: #fff;
	font-weight: bold;
}

.footer-menu ul {
	margin-left: 0;
	list-style: none;
}

.footer-menu li {
	display: inline-block;
	padding-left: 32px;
}


/**
 * Blog Feed
 */
article.blog-feed {
	position: relative;
	height: 320px;
	overflow: hidden;
	margin-bottom: 32px;
}

article.blog-feed img {
	position: absolute;
	max-width: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

article.blog-feed .blog-feed-meta {
	color: #fff;
	position: absolute;
	bottom: 30px;
	padding: 18px 24px;
	left: 30px;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

article.blog-feed .blog-feed-meta a {
	color: #fff;
}


/**
 * Single Content
 */
body.single-page #single-content {
	width: 70%;
	float: left;
	padding: 0px 40px 40px 40px;
	
}

.post-meta {
	margin-bottom: 32px;
}

.post-content img {
	max-width: 100%;
}

/**
 * Secondary
 */
#secondary {
	position: absolute;
	right: 0;
	background: #ebebeb;
	max-width: 320px;
	width: 100%;
	height: 480px;
	float: right;
	padding: 32px;
}

body.single-page #secondary {
	position: static;
	float: right;
	width: 30%;
}



/**
 * RWD
 */

@media screen and (min-width: 1025px) {
	#secondary {
		max-width: 420px;
	}
}

@media screen and (max-width: 360px) {
	body .col-xs-6 {
		max-width: 100%;
		width: 100%;
	}

	#welcome {
		font-size: 14px;
	}

	#welcome h1 {
		font-size: 32px;
	}
}